@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto');

button:focus {
	outline: 0;
	background-color: #efefef;
}

body {
	margin: 0;
}

h1 {
	font-family: Roboto Slab;
	text-decoration: none;
	margin: 0;
}

h5 {
	font-family: Roboto;
	color: rgba(26,26,26,.4);
	font-size: 18px;
	text-decoration: none;
	margin: 0;
}

.bufferTop {
	margin-top: 3em;
}

::selection {
	background: none;
}

p::selection{
	background:#ff623f;
}

figcaption::selection{
	background:#ff623f;
}

figcaption a::selection{
	background:#ff623f;
	color: white;
}

p a::selection{
	background:#ff623f;
	color: white;
}

h1::selection {
	background:#ff623f;
}

h5::selection {
	background:#ff623f;
}

figcaption, p {
	font-family: 'Roboto';
	font-size: 16px;
	color: #3a3a3a;
	line-height: 150%;
}

figcaption a {
	text-decoration: none;
	color: #00a1ff;
}

p a {
	text-decoration: none;
	color: #00a1ff;
}

hr {
	width: 50em;	
}

#wrapper {
	height: 75px;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0px;
	width: 100%;
}

#navbar {
	background-color: white;
    list-style-type: none;
   	overflow: hidden;
	text-align: right;
	display: table;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;	
}

#navbar li {
	text-align: center;
	display: inline;
	height: 75px;
}

#navbar li a {
	color: black;
   	padding: 1em 1em;
    text-decoration: none;
   	font-family: 'Roboto Slab';
	font-size: 25px;
	text-align: center;
}

#navbar #logo {
	height: 75px;
	max-width: 100%;
	float: left;
    padding: 5px 5px;
	text-align: left;
}

#navbar button {
	height: 100%;
	background-color: white;
	border-left: none;
	border-right: none;
	border-top: none;
}

#navbar button:hover {
	background-color: #efefef;
}

#navbar #activePage {
	border-bottom: 4px solid blue;
}

#navbar .navButton {
	border-bottom: 4px solid red;
}

#stanceWrapper {
	
}

.stanceNavbar {
	background-color: white;
    list-style-type: none;
   	overflow: hidden;
	text-align: center;
	height: 75px;
	width: 100%;
}

.stanceNavbar li {
	text-align: center;
	display: inline;
	height: 75px;
	padding: 1px 15px;
}

.stanceNavbar li button {
	font-size: 25px;
   	font-family: 'Roboto Slab';
	text-align: center;
	color: black;
}

.padSides {
	padding: 0em, 1em !important;
}

.stanceNavbar button:hover {
	background-color: #efefef;
}

.stanceButton {
	height: 100%;
	background-color: white;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 4px solid red;
}

.selectedStanceButton {
	border-bottom: 4p solid blue;
}

.stanceDescriptions {
	text-decoration: none;
	list-style: none;
}

.stanceDescriptions > li {
	border: 3px solid blue;
}

.stanceDescriptions > li > ul {
	padding: 30px 30px 30px 40px;
}

#takeAStand {
	margin-top: 1em;
}

#mainContent {
	text-align: center;
	padding-top: 8em;
	max-width: 80%;
	margin: 0 auto;
}

#mainContent li {
	font-family: 'Roboto';
	font-size: 16px;
	color: #3a3a3a;
	line-height: 150%;
}

.widthLimiter {
	max-width: 40em;
	margin: 0 auto;
	text-align: left;
}

.landscapeImage {
	max-width: 40em;
}

#thumbnailHolder {
	text-align: center;
}

#thumbnailHolder figure {
	display: inline-block;
	max-width: 20em;
}

#thumbnailHolder img {
	max-width: 15em;
}

.textHolder {
	max-width: 60em;
	text-align: left;
	margin: 0 auto;
}

.upcomingEventCategory {
	max-width: 45em;
	text-align: left;
	margin: 0 auto;
	padding-bottom: 1em;
}

.pastEventCategory {
	max-width: 45em;
	text-align: left;
	margin: 0 auto;
	padding-top: 2em;
	padding-bottom: 1em;
}

.slideshowContainer ul {
	list-style: none;
}

.slideshowContainer li {
	text-align: center;
}

.slideshowContainer li img {
	max-height: 20em;
	display: none;
	margin: 0 auto;
}

body::-webkit-scrollbar {
	width: .4em;
}
 
body::-webkit-scrollbar-thumb {
	background-color: red;
}

.buttonHolder {
	margin: 0 auto;
	max-width: 10em;
}

.buttonHolder a:hover {
	cursor: pointer; 
}

.prevButton {
	float: left;
}
.nextButton {
  float: right;
}

#bottomPadder {
	margin-bottom: 5em;
}

footer {
	margin-top: 3em;
	background-color: black;
	color: white;
	text-align: left;
	padding-bottom: 5em;
}

h4 {
	font-style: none;
	font-family: Roboto;
	padding-top: 1.5em;
	padding-left: 1.5em;
}